In [ ]:
import numpy as np
import os
import pandas as pd

## Read CSV

In [ ]:
os.listdir('data/')

In [ ]:
# Read from csv file
df = pd.read_csv('data/trip_100.csv', index_col=0)

## Load CSV to DB

In [ ]:
from sqlalchemy import create_engine

In [ ]:
username ='root'
password = 'root'
host = 'localhost'
port = '3306'
dbname = 'taxi'

In [ ]:
# Initialize mysql engine
engine = create_engine(f'mysql+pymysql://{username}:{password}@{host}:{port}/{dbname}')

In [ ]:
# Create Table in taxi
df.head(0).to_sql(name='trip', con=engine, if_exists='replace')

In [ ]:
# Load data into trip table
df.to_sql(name='trip', con=engine, if_exists='append', chunksize=100000)

## Persist Table to CSV

In [ ]:
# read from sql
query = '''
    SELECT tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, total_amount, trip_distance
    FROM trip
    LIMIT 30;
'''
output_df = pd.read_sql(query, con=engine)

In [ ]:
output_df

In [ ]:
output_df.to_csv('sample_output.csv', index=None)

## Execute Query

In [ ]:
query = '''
    DROP TABLE trip;
'''

In [ ]:
with engine.connect() as conn:
    conn.execute(query)